/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
}

/* .container styles */
.container {
    text-align: center;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Heading styles */
h1 {
    font-size: 3em;
    color: #4b6fe9; /* Color for headings */
    margin: 0;
}

/* Paragraph styles */
p {
    font-size: 1.5em;
    color: #555; /* Complementary text color */
    margin-top: 15px;
}

/* Button styles */
.button {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #4b6fe9;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #4b6fe9;
    transform: scale(1.05);
}

/* QR container */
.qr-container {
    text-align: center;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* QR title */
.qr-title {
    font-size: 2rem; /* Smaller font size for QR heading */
    color: #333; /* Dark gray for readability */
    margin-bottom: 20px;
    padding: 0 15px; /* Padding for smaller screens */
}

/* QR image */
.qr-image {
    max-width: 90%;
    height: auto;
    border: 5px solid #4b6fe9;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .qr-title {
        font-size: 2.5rem;
    }

    .qr-image {
        max-width: 300px;
    }
}

/* Footer with Trademark */
.trademark-image {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px; /* Adjust size of the image */
    opacity: 0.8; /* Slight transparency */
}

.trademark-image:hover {
    opacity: 1; /* Full visibility on hover */
}