body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}


.container {
    text-align: center;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


h1 {
    font-size: 3em;
    color: #4b6fe9; 
    margin: 0;
}


p {
    font-size: 1.5em;
    color: #555; 
    margin-top: 15px;
}

.button {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #4b6fe9;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #4b6fe9;
    transform: scale(1.05);
}

.qr-container {
    text-align: center;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.qr-title {
    font-size: 2rem; 
    color: #333; 
    margin-bottom: 20px;
    padding: 0 15px; 
}


.qr-image {
    max-width: 90%;
    height: auto;
    border: 5px solid #4b6fe9;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


@media (min-width: 768px) {
    .qr-title {
        font-size: 2.5rem;
    }

    .qr-image {
        max-width: 300px;
    }
}


.trademark-image {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px; 
    opacity: 0.8; 
}

.trademark-image:hover {
    opacity: 1; 
}
