<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Queue with Animation</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/static/css/dynamic_style.css">
</head>
<body>
  <div class="queue-number-display"></div>
  <div class="queue-container">
    <img src="{{ url_for('static', filename='images/desk.png') }}" alt="Image of a desk">
  </div>
</body>
<script src="/static/js/dynamic.js"></script>
</html>